

{% extends 'marketplace/base.html' %}

{% block content %}
<div class="row-outer">
    <div class="container">
        <div class="grid-wrapper">
            {% for item in items %}
            <div class="box">
                <img src="{{ item.image_url }}" alt="{{ item.name }}" class="item-image">
                <p>₹{{item.price}}</p>
                <a class="btn btn-primary" href="{%url 'cart_add' item.id%}" role="button">Add</a>                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>
